{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'assets/css/signup.css'%}">
{% endblock style %}

{% block title %}Login{% endblock title %}

{% block signin %}
<div class="overlay">
  <div class="form-container">
    {% for message in messages %}
      <p class="{{message.tags}}">{{message}}</p>
    {% endfor %}
    <h2>: Login to Your Account :</h2>
    <form action="{% url "login" %}" method="POST">
      {% csrf_token %}
      <ul class='non-field-errors' style='color: red; '>
          {% for error in form.non_field_errors %}
            <li>{{error}}</li> 
          {% endfor %}
        </ul>
        

        {% for field in form %}
          <div class="input-box">
            {{field.label_tag}}
            {{field}}
            <ul class='field-errors' style='color: red; '>
              {% for error in field.errors %}
               <li>{{error}}</li> 
              {% endfor %}
            </ul>
          </div>
        {% endfor %}

      <input type="submit" value="Login">
      <p>Don't have an account please <a href="{% url 'signup' %}">click here</a>!</p>
      <a href="{% url 'home' %}">Back to home</a>
    </form>
  </div>
  
</div>
{% endblock signin %}
